<html>
<head>
  <link rel="stylesheet" href="assets.css">
  </head>
  <body>
    <h1><%= song_object.name %> </h1>
    <ol>
      <% song_object.name %>
        <li>
          <p><a href="../artists/<%= song_object.artist.name.gsub(" ", "_") %>.html"><%= song_object.artist.name %></a> - 
            <a href="../genres/<%= song_object.genre.name.gsub(" ", "_")%>.html"><%= song_object.genre.name.capitalize %></a></p>
        </li>
    </ol>
<div class="footer"> <p> <a href="index.html">Home</a> - Team Table Stealers - all your tables are belong to us
</p>
</div>
</body>
</html>